.tree-list-container {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tree-list-container .icon {
    float: right;
}

.tree-list-container .icon .input-clear {
    vertical-align: middle;
    color: #555;
    opacity: .2;
    right: 0;
}

.tree-list-container .input-clear:hover {
    opacity: .5;
    color: #ed5565;
}

.tree-list-container label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.tree-list-container .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.tree-list-container .form-control.has-error {
    border-color: #ed5565 !important;
}
.tree-list-container .form-control.has-success {
    border-color: #1ab394 !important;
}
.tree-list-container label.has-success {
    color: #1ab394 !important;
}
.tree-list-container label.has-error {
    color: #ed5565 !important;
}

.tree-list-container .tree-wrapper {
    border: none;
    height: auto;
    padding: 0;
}

.tree-list-container .tree-input {
    height: auto;
    border: 0;
    border-top: 1px solid #ccc;
}
.tree-list-container .tree-input > span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tree-list-container .tree-input > ul {
    margin: 0;
    margin-right: 0px;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tree-list-container .tree-input > ul li {
    float: left;
    list-style: none;
    padding: 2px 5px;
    margin: 3px 3px 0 0;
    position: relative;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #555;
    font-size: 12px;
}

.tree-list-container .tree-input > ul li.empty {
    border: 1px solid #fff;
    background: #fff;
}

.tree-list-container .tree-wrapper {
    border: none;
    height: auto;
    padding: 0;
}


.tree-list-container .tree-header {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.tree-list-container .tree-header .row {
    margin-right: -15px;
    margin-left: -15px;
}
.tree-list-container .tree-header .header-text {
    margin: 4px 6px;
    font-weight: 600;
    font-size: 1.1em;
}

.tree-list-container .tree-header .search-container {
    position: relative;
}

.tree-list-container .search-input {
    height: 30px;
    padding: 5px 10px;
    padding-right: 30px;
    line-height: 1.5;
    border-radius: 3px;
    margin: 0;
    font: inherit;
}

.tree-list-container .search-clear {
    float: right;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    font-size: 1.4em;
    padding: 6px 20px;
    position: absolute;
    right: 0;
}

.tree-list-container .search-clear:hover {
    opacity: .5;
}

.tree-list-container .tree {
    overflow: auto;
    padding: 10px 5px 5px;
}

.tree-list-container .tree ul {
    list-style: none;
}

.tree-list-container .tree ul li {
    list-style: none;
    padding-left: .75em;
    border: dotted #333;
    border-width: 0 0 1px 1px;
    line-height: 25px;
    margin-left: 0.3em;
}

.tree-list-container .tree ul:first-child {
    padding-left: .73em;
}

.tree-list-container .tree ul:first-child > li:first-child {
    border: none;
}
.tree-list-container .tree ul:first-child > li > ul {
    border-top: none;
}

.tree-list-container .tree ul li ul {
    margin-left: -0.7em;
    padding-left: 1.15em;
    border-top: 1px dotted #333;
}
.tree-list-container .tree ul li ul.last-node {
    margin-left: -0.82em;
    background-color: #fff;
}
.tree-list-container .tree ul li.parent {
    border-bottom: 1px solid #fff;
}
.tree-list-container .tree ul li .node {
    margin: 0;
    top: 1em;
    background: #fff;
    width: 100%;
    cursor: default;
    position: relative;
}

.tree-list-container .tree ul li .node > i, .tree-list-container .tree ul li .node > span {
    margin-left: 4px;
}
.tree-list-container .tree ul li .node i.fa-minus-square-o, .tree-list-container .tree ul li .node i.fa-plus-square-o {
    cursor: pointer;
}
.tree-list-container .tree ul li .node i.fa-check-square-o {
    color: #2c8f7b !important;
}
.tree-list-container .tree ul li .node > span:hover, .tree-list-container .tree ul li .node > span.selected{
    background-color: #e8e8e8;
}
